/*estilos.css*/
body{
 
       font-family:times new roman;
       font-weight:bold;
    }

    p{ 
      font-size: 25px;
      text-align: justify;
    }

    h2{ 
       color: #006400;
       font-size: 30px;
      }

      h3{ 
       color: #006400;
       font-size: 35px;
       text-align: center;
      }
     

      img { 
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 400px;
          }

    ol{ 
        font-size: 23px;
      text-align: justify;
    }
     
  header {
background: #98fb98;
text-align: center;
padding: 20px;
         }

  header h1{
  letter-spacing:10px;
       word-spacing:10px;
       font-family:times new roman;
       font-size:30px;
       text-align:center;
       font-style:italic;
       font-weight:bold;
            }

            strong { 
              color: #556b2f;
            }
       
             h4 strong{
                 color: #800000;
                 font-size: 25px;
                 text-align:justify;
            }
             
    /*INICIO DE CAJAS*/

    .contenedor1{
    display: flex;
    margin: 40px;
    gap: 20px;
                }

   .caja1{  
    background:#f0fff0;
    padding: 20px;
    border-radius: 80px;
    width: 50%;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.2);
          }

   .caja2{
    background:#f0fff0;
    padding: 20px;
    border-radius: 80px;
    width: 50%;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.2);
           }


    .contenedor2{
    display: flex;
    justify-content: space-around
    margin: 30px;
    gap: 20px;
                }

    .caja3{
    background:#f5f5dc;
    padding: 20px;
    border-radius: 80px;
    width: 40%;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.2);
           }
   
    .caja4{
    background:#f0fff0;
    padding: 20px;
    border-radius: 80px;
    width: 60%;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.2);
           }
   
    .contenedor3{
    display: flex;
    
    justify-content: space-around;
    margin: 40px;
    gap: 20px;
                }

    .caja5{
    background:#f0fff0;
    padding: 20px;
    border-radius: 80px;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.2);
           }